:root {
    --header-height: 64px;
    --slide-over-height: 500px;

    --main-background-color-0: #606060;
    --main-background-color-1: #202020;
    --main-background-color-2: #303030;

    --main-color-0: #e0e0e0;
    --main-color-1: #a5a5a5;
    --main-color-2: #d6d6d6;

    --btn-color: #050505;
    --slider-color: #007bff;

    --favorite-filter: invert(59%) sepia(83%) saturate(1509%) hue-rotate(24deg) brightness(117%) contrast(113%);

    /* --svg-filter-color-0: brightness(0) saturate(100%) invert(100%) sepia(4%) saturate(53%) hue-rotate(236deg) brightness(117%) contrast(76%); */
}

body {
    font-weight: 400;
    color: var(--main-color-2);
    background-color: var(--main-background-color-1);
}

/* ----header---- */
header {
    background-color: var(--main-background-color-0);
    height: var(--header-height);
    width: 100%;
    position: fixed;
    z-index: 3;
    top: 0;
    transition: 0.2s;
}

header.hidden {
    top: calc(-1 * var(--header-height));
}

header h1 {
    color: var(--main-color-0);
    font-weight: 100;
}

#add-song-btn {
    height: 31px;
    width: 31px;
    cursor: pointer;
}

#add-song-btn span {
    position: relative;
    display: block;
    left: 0;
    width: 31px;
    height: 3px;
    background-color: var(--main-color-0);
}

#add-song-btn span:nth-child(1) {
    top: 14px;
}

#add-song-btn span:nth-child(2) {
    top: 11px;
    transform: rotate(90deg);
}

/* ----main---- */
main {
    padding-top: var(--header-height);
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.main-content {
    min-height: calc(100dvh - var(--header-height) - 100px);
}

/* リスト */
.list label {
    padding: 10px 20px;
    margin: 0;
    width: 100%;
}
.list label:hover {
    transform: scale(1) !important;
}

.list label:nth-child(odd) {
    background-color: var(--main-background-color-1);
}

.list label:nth-child(even) {
    background-color: var(--main-background-color-2);
}

.list label>div:not(.title-container) {
    margin: 5px 0 0 10px;
    color: var(--main-color-1);
    display: flex;
    gap: 20px;
    align-items: end;
}

.list label h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
}

.list label .title-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.list label .title-container .favorite {
    filter: var(--favorite-filter);
    width: 33px;
    height: 33px;
}

.list label .title-container.sung::after {
    content: '';
    display: inline-block;
    width: 25px;
    height: 12px;
    border-left: 4px solid #25AF01;
    border-bottom: 4px solid #25AF01;
    transform: translateY(-4px) rotate(-45deg);
}

.list label .artist-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
}

.list label table {
    margin-left: 10px;
}

.list label table tr th {
    width: 70px;
    border-bottom: 1px solid gray;
    text-align: center;
}

.list label table tr td {
    text-align: center;
}

.empty-message {
    display: none;
    height: 300px;
    justify-content: center;
    align-items: center;
    color: var(--main-color-1);
}

.list:empty+.empty-message {
    display: flex;
}

.filter-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background-color: #ffffffc7;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
}

.version {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 5px;
    color: var(--main-color-1);
}


/* バーガー */
nav {
    display: block;
    position: fixed;
    background-color: var(--main-background-color-0);
    color: var(--main-color-0);
    top: 0;
    left: -300px;
    bottom: 0;
    transition: all 0.5s;
    z-index: 100;
    width: 270px;
    opacity: 0;
}

.open nav {
    left: 0;
    opacity: 1;
}

nav .inner {
    padding: 25px;
}

nav .inner h3 {
    margin: 0;
    text-align: center;
    padding-top: 40px;
}

nav .inner ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav .inner ul li {
    margin: 0;
    border-bottom: 1px solid var(--main-color-0);
}

nav .inner ul li label,
nav .inner ul li a {
    font-size: 18px;
    padding: 1rem;
    transition-duration: 0.2s;
    width: 100%;
    margin: 10px 0 0;
}

nav .inner ul li a {
    text-decoration: none;
    color: var(--main-color-0);
    display: block;
}

nav .inner ul li label:hover,
nav .inner ul li a:hover {
    background-color: #606060;
}

.toggle-btn {
    display: block;
    position: fixed;
    top: 17px;
    right: 30px;
    width: 30px;
    height: 31px;
    z-index: 100;
    cursor: pointer;
    transition: 0.2s !important;
}

.toggle-btn.hidden {
    top: calc(-1 * var(--header-height));
}

.toggle-btn span {
    position: relative;
    display: block;
    left: 0;
    width: 30px;
    height: 3px;
    background-color: var(--main-color-0);
    transition: all 0.5s;
}

.toggle-btn span:nth-child(1) {
    top: 4px;
}

.toggle-btn span:nth-child(2) {
    top: 11px;
}

.toggle-btn span:nth-child(3) {
    top: 18px;
}

.toggle-btn.open span:nth-child(1) {
    transform: translateY(10px) rotate(-315deg);
}

.toggle-btn.open span:nth-child(2) {
    opacity: 0;
}

.toggle-btn.open span:nth-child(3) {
    transform: translateY(-10px) rotate(315deg);
}

#mask {
    display: none;
    transition: all 0.5s;
}

.open #mask {
    display: block;
    background-color: #000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 99;
    opacity: 0.75;
    cursor: pointer;
}

/* --------Slide Over-------- */
#slide-over-container {
    overflow: hidden;
    width: 100dvw;
    height: 0;

    position: fixed;
    top: 100dvh;
    left: 0;
    z-index: 10;
}

#slide-over-container.open {
    height: 100dvh;
    top: 0;
}

.slide-over {
    width: calc(100dvw - 20px);
    height: var(--slide-over-height);

    position: absolute;
    left: 10px;
    bottom: calc(-1 * var(--slide-over-height));

    background-color: var(--main-background-color-0);
    color: var(--main-color-0);
    border-radius: 20px 20px 0 0;

    transition: 0.2s;

    display: flex;
    flex-direction: column;
}

.slide-over.open {
    bottom: 0;
}

.slide-over-header {
    width: 100%;
    height: var(--header-height);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.close-slide-over-btn {
    margin: 0;
    padding-left: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.close-slide-over-btn::after {
    content: '';
    width: 20px;
    height: 20px;
    border-left: 4px solid var(--main-color-0);
    border-bottom: 4px solid var(--main-color-0);
    transform: rotate(-45deg);
}

.slide-over-header .spacer {
    width: 34px
}

.slide-over-main {
    width: calc(100% - 20px);
    flex: 1;
    overflow-y: scroll;
    margin: 10px;
}

.slide-over-main h5 {
    margin-bottom: 5px;
}

.input-box {
    margin-left: 10px;
}

.voice-range-box {
    margin-bottom: 25px;
}

.voice-range {
    margin-left: 10px;
    color: var(--main-color-2);
}

.voice-range-slider {
    margin: 10px 30px;
}

/* スライダーの見た目を変える */
.noUi-target {
  height: 8px; /* スライダー全体の高さ */
}

.noUi-connect {
  background: var(--slider-color); /* スライダーの色（任意） */
}

.noUi-handle {
  width: 30px !important;
  height: 30px !important;
  top: -11px !important; /* スライダー中央に合わせるために位置調整 */
  border-radius: 50%;
  background: #fff;
  border: 2px solid var(--slider-color);
}
.noUi-handle::before {
    left: 10px;
}
.noUi-handle:after {
    left: 14px;
}

.noUi-horizontal .noUi-handle {
    right: -15px;
}

.slide-over-main .input-box input,
.slide-over-main .input-box select {
    border: 1px solid var(--main-color-0);
    height: 30px;
    border-radius: 3px;
    background-color: transparent;
    color: var(--main-color-0);
}

.slide-over-main .input-box input {
    margin: 10px;
    width: 250px;
}

.slide-over-footer {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: var(--main-color-1); */
}

/* ボタン */
.slide-over-footer button {
    width: 130px;
    height: 35px;

    border-radius: 5px;
    border: none;
    font-weight: 100;
    color: var(--main-color-2);
}
.slide-over-footer .reset-btn {
    background-color: var(--main-background-color-2);
}
.slide-over-footer .apply-btn {
    background-color: var(--btn-color);
}

/* --------Full-Screen Modal-------- */
.full-screen-modal {
    position: fixed;
    top: 0;
    left: 100dvw;
    z-index: 120;
    width: 100dvw;
    height: 100dvh;
    transition: 0.2s;
    background-color: var(--main-background-color-1);
}

.full-screen-modal.open {
    left: 0;

    @starting-style {
        left: 100dvw;
    }
}

/* ヘッダー */
.full-screen-modal-header {
    width: 100dvw;
    height: var(--header-height);
    background-color: var(--main-background-color-0);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

/* 前に戻るボタン */
.full-screen-modal-back-btn {
    margin: 0;
    padding-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.full-screen-modal-back-btn::before {
    content: '';
    width: 25px;
    height: 25px;
    border-left: 4px solid var(--main-color-0);
    border-bottom: 4px solid var(--main-color-0);
    transform: rotate(45deg);
}

/* 全部閉じるボタン */
.full-screen-modal-close-btn {
    width: 64px;
    margin: 0;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.full-screen-modal-close-btn::before,
.full-screen-modal-close-btn::after {
    content: '';
    width: 30px;
    height: 4px;
    position: relative;
    left: 10px;

    background-color: var(--main-color-0);
}

.full-screen-modal-close-btn::before {
    transform: rotate(45deg);
    top: 2px;
}

.full-screen-modal-close-btn::after {
    transform: rotate(-45deg);
    top: -2px;
}

/* その他 */
.clickable {
    transition: 0.5s;
    cursor: pointer;
}
.clickable:hover {
    filter: brightness(120%);
    transform: scale(1.05);
}